.task
    background-color: var(--default-grey)
    padding: 20px
    width: 350px
    height: fit-content
    border-radius: 10px

    .title
        font-size: 1.2rem
        font-weight: bold

        .responsible
            font-style: italic

    .buttonGroup
        margin-top: 20px
        display: flex
        flex-direction: row
        justify-content: space-between

        .button
            display: flex
            gap: 7px
