.tasksGrid
    display: flex
    width: 93%
    gap: 50px
    width: 100%
    height: fit-content
    flex-wrap: wrap
    
.addBtn
    width: 50px
    height: 50px
    border-radius: 100%
    background-color: var(--default-blue)
    color: white
    cursor: pointer
    font-size: 1.5rem
    display: flex
    align-items: center
    justify-content: center

@media (max-width: 500px)
    .taskGrid
        justify-content: center

    .addBtn
        transform: translateY(-50%) scale(1.3)

    
            
